@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --color-brand-pink: #f3d5d8; /* Un rosa muy suave */
  --color-pastel-white: #fbf5f5;
  --color-primary: #135bec;
}
